[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-telegram-bot = "13.1"
requests = "2.25.1"
google-trans-new = "1.1.9"

[dev-packages]

[requires]
python_version = "3.8"